{% extends 'base.html' %}
{% load static %}

{% block title %}Thank you!{% endblock %}

{% block content %}
    <h1>Thank you</h1>
    <p>Your order has been successfuly copleted. Your order number is 
        <strong>{{ order.id }}</strong>.
    </p>
{% endblock      %}