{% extends 'base.html' %}

{% block title %} Password Reset{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1 style="display: flex;justify-content: space-around;">Password Reset Form</h1>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
          <h1>Checkout your inbox!</h1>
        <p>We've emailed you instructions for setting your password.
            You should receive the email shortly!</p>
      </blockquote>
    </div>
  </div>
{% endblock %}