{% extends 'base.html' %}

{% block title %} Password Reset{% endblock %}

{% block content %}
    <hr style="height: auto;">
    <h1 style="display: flex;justify-content: space-around;">Password Reset Form</h1>
    <hr style="height: auto;">
    <div class="card">
        <div class="card-header">
            <h3 style="display: flex;justify-content: space-around;">Forgot your password?</h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Enter your email address below, and we'll send an instructions for setting a new one.</p>
          </blockquote>
        </div>
      </div>
    
    <hr style="height: auto;">
    <form method="POST" >
        <div style="display: flex;justify-content: space-around;margin-bottom: 40px;">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <hr style="height: auto;">
        <div style="display: flex;justify-content: space-around; ">
            <input type="submit", value="Send me instructions" class="btn btn-primary" >
        </div>  
    </form>
{% endblock %}