{% extends 'base.html' %}

{% block title %} Creating New Password{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>Set a new password!</h1>
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-success" type="submit" value="Change my password">
            </form>
        </blockquote>
        </div>
    </div>


{% endblock content %}