{% extends 'base.html' %}

{% block title %} Change Password{% endblock %}

{% block content %}
    <h1>Password changing form.</h1>
    <hr style="height: auto;">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <hr style="height: auto;">
        <input type="submit" value="Change my password" class="btn btn-success">
        <hr style="height: auto;">
    </form>
{% endblock %}