{% extends 'base.html' %}

{% block title %} Password Change Success{% endblock %}

{% block content %}
    <div class="card" style="width: auto; margin-top: 40px;">
        <div class="card-body">
        <h5 class="card-title">Password Settings</h5>
        <p class="card-text">Your passsword is changed successfully!</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Go HOME</a>
        </div>
    </div>
{% endblock %}