{% extends 'base.html' %}

{% block title %} Password Reset Complete{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>Password reset complete</h1>
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Your new password has been set. You can log in now with following link below.</p>
            <footer class="blockquote-footer"><cite title="Source Title"><a href="{% url 'login' %}">Log In</a></cite></footer>
        </blockquote>
        </div>
    </div>
    
    
{% endblock %}
