{% extends 'base.html' %}

{% block name %} Administrator's panel{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="text-align: center;margin-top: 20px;font-size: 60px;color: blueviolet;">Admin panel</h1>
        <div style="background-color: blueviolet;">
            <hr style="height: 5px;">
            <div style="display: flex;justify-content: space-around;margin-top: 35px;margin-bottom: 35px;">
                <a href="{% url 'shop:product_create' %}?next={{ request.path }}" class="btn btn-success">Create new product</a>
                <a href="{% url 'shop:promo_create' %}?next={{ request.path }}" class="btn btn-success">Create new promo</a>
                <a href="{% url 'shop:category_create' %}?next={{ request.path }}" class="btn btn-success">Create new category</a>
            </div>
            <hr style="height: 5px;">
        </div>
        <div class="lists" style="display: flex;justify-content: space-around;">
            <div class="card" style="width: 22rem;">
                <div class="card-header" style="border-color: blueviolet;background-color: lightblue;">
                    <h1 style="color: blueviolet;">Products :</h1>
                </div>
                <ul class="list-group list-group-flush" style="border-color: blueviolet;">
                    {% for product in products %}
                        <li class="list-group-item" style="border-color: blueviolet;">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>  <a href="{% url 'shop:product_delete' product.pk %}?next={{ request.path }}" class="btn" style="color: red;max-width: max-content;">Delete</a>  <a href="{% url 'shop:product_update' product.pk %}?next={{ request.path }}" class="btn" style="color: blue;max-width: max-content;">Edit</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card" style="width: 22rem;">
                <div class="card-header" style="border-color: blueviolet;background-color: lightblue;">
                    <h1 style="text-align: center; color: blueviolet;">Promos :</h1>
                </div>
                <ul class="list-group list-group-flush" style="border-color: blueviolet;">
                    {% for promo in promos %}
                        <li class="list-group-item" style="border-color: blueviolet;">
                            <a href="{{ promo.get_absolute_url }}">{{ promo.header }}</a>  <a href="{% url 'shop:promo_delete' promo.pk %}?next={{ request.path }}" class="btn" style="color: red;max-width: max-content;">Delete</a>  <a href="{% url 'shop:promo_update' promo.pk %}?next={{ request.path }}" class="btn" style="color: blue;max-width: max-content;">Edit</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card" style="width: 22rem;">
                <div class="card-header" style="border-color: blueviolet;background-color: lightblue;">
                    <h1 style="text-align: center; color: blueviolet;">Categories :</h1>
                </div>
                <ul class="list-group list-group-flush" style="border-color: blueviolet;">
                    {% for category in categories %}
                        <li class="list-group-item" style="border-color: blueviolet;">
                            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>  <a href="{% url 'shop:category_delete' category.pk %}?next={{ request.path }}" class="btn" style="color: red;max-width: max-content;">Delete</a>  <a href="{% url 'shop:category_update' category.pk %}?next={{ request.path }}" class="btn" style="color: blue;max-width: max-content;">Edit</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}