{% extends 'base.html' %}
{% load static %}

{% block title %} Personal Room{% endblock %}

{% block content %}
    <h1 style="margin-bottom: 40px; margin-top: 40px;">This is your personal room.</h1>
    <p style="color: blue;">Username = {{ user.username | title }}</p>
    <br>
    <a href="{% url 'logout' %}" class="btn btn-primary" style="margin-top: 20px;">Log Out</a>
    <br style="height: auto;">
    <a href="{% url 'password_change' %}" class="btn btn-primary" style="margin-top: 20px;">Change my password</a>
    <br style="height: auto;">
    <a href="{% url 'password_reset' %}" class="btn btn-primary" style="margin-top: 20px;">Reset my password</a>
{% endblock %}