{% extends 'base.html' %}

{% block title %} Product create page{% endblock %}

{% block content %}
    <h1>Product create page</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
{% endblock %}