{% extends 'base.html' %}
{% load static %}

{% block title %} Product delete page{% endblock %}

{% block content %}
    <h1>Product delete page</h1>
    <h3>Are you sure you want to delete thist product?</h3>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-danger">
        <a href="{% url 'shop:product_list' %}" class="btn btn-primary">No</a>
    </form>
{% endblock %}