{% extends 'base.html' %}
{% load static %}

{% block title %} Product create page{% endblock %}

{% block content %}
    <h1>New category</h1>
    <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="" id="" value="Save">
    </form>
{% endblock %}