{% extends 'base.html' %}

{% block title %} Category update page{% endblock %}

{% block content %}
    <h1>Category update page</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
{% endblock %}