{% extends 'base.html' %}
{% load static %}

{% block title %} Promo delete page{% endblock %}

{% block content %}
    <h1>Promo delete page</h1>
    <h3>Are you sure you want to delete thist promo?</h3>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-danger">
        <a href="{% url 'shop:home' %}" class="btn btn-primary">No</a>
    </form>
{% endblock %}