{% extends 'base.html' %}

{% block title %} Promo detail page{% endblock %}

{% block content %}
    <h1>Promo detail page</h1>
    Header:{{ promo.hader }}
    <br>
    Subheader:{{ promo.subheader }}
    <br>
    Image: <img src="{{ promo.image.url }}" alt="" width="150" height="100">
    <br>
    Available:{{ promo.available }}
{% endblock %}